<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> All Product Page</title>
</head>
<body>
<h1 th:align="center">Список товаров</h1>

<!--/*@thymesVar id="AllProducts" type="List"*/-->
<div th:each=" p : ${AllProducts}">
    <a th:align="center" th:href="@{'/products/'+${p.id}}"><h4 th:align="center" th:text="${p.id+') ' +p.name}"></h4></a>
</div>
<hr>
<p th:align="center" th:text="${'Всего товаров доступно: ' + AllProducts.size()}"></p>
</body>
</html>